# mmcv-full already installed in horovod-cuda10.1-tf2.3.0:0.0.21
# install mmcv
# below is for cuda 10.1 only
-f https://download.openmmlab.com/mmcv/dist/cu101/torch1.6.0/index.html
mmcv-full>=1.3.10

openmim


# install mmdetection (both works)
# uncomment one of following lines
# git+https://github.com/open-mmlab/mmdetection.git
mmdet